@import 'yasgui';

/* ==================================
   #APPUNIVERSUM
   ================================== */

/**
 * A design universe for Flanders GOV applications
 */

/**
 * CONTENTS
 * ---
 * SETTINGS: Project settings and variables
 * TOOLS: Mixins
 * GENERIC: Reset, global box-sizing and font-styles
 * ELEMENTS: Plain html tag styling
 * OBJECTS: OOCSS unstyled objects (namespace: '.au-o-...')
 * COMPONENTS: Components (namespace: '.au-c-...')
 * UTILITIES: Single function helper classes (namespace: '.au-u-...')
 */


// VARIABLES
@import "appuniversum/s-colors.scss";
@import "appuniversum/s-global";
@import "appuniversum/s-utilities";


// MIXINS
@import "appuniversum/t-font-size";
@import "appuniversum/t-sass-mq";


// GENERIC
@import "appuniversum/g-reset";
@import "appuniversum/g-box-sizing";
@import "appuniversum/g-font";


// ELEMENTS
@import "appuniversum/e-page";


// OBJECTS
@import "appuniversum/o-box";
@import "appuniversum/o-flow";
@import "appuniversum/o-grid";
@import "appuniversum/o-layout";
@import "appuniversum/o-region";


// COMPONENTS
@import "ember-appuniversum/c-alert";
@import "ember-appuniversum/c-badge";
@import "ember-appuniversum/c-body-container";
@import "ember-appuniversum/c-brand";
@import "ember-appuniversum/c-button";
@import "ember-appuniversum/c-button-group";
@import "ember-appuniversum/c-card";
@import "ember-appuniversum/c-content";
@import "ember-appuniversum/c-content-header";
@import "ember-appuniversum/c-control";
@import "ember-appuniversum/c-data-table";
@import "ember-appuniversum/c-dropdown";
@import "ember-appuniversum/c-form";
@import "ember-appuniversum/c-heading";
@import "ember-appuniversum/c-help-text";
@import "ember-appuniversum/c-hr";
@import "ember-appuniversum/c-icon";
@import "ember-appuniversum/c-input";
@import "ember-appuniversum/c-label";
@import "ember-appuniversum/c-link";
@import "ember-appuniversum/c-list-horizontal";
@import "ember-appuniversum/c-list-navigation";
@import "ember-appuniversum/c-loader";
@import "ember-appuniversum/c-pagination";
@import "ember-appuniversum/c-pill";
@import "ember-appuniversum/c-main-container";
@import "ember-appuniversum/c-main-header";
@import "ember-appuniversum/c-main-footer";
@import "ember-appuniversum/c-modal";
@import "ember-appuniversum/c-sidebar";
@import "ember-appuniversum/c-sidebar-action";
@import "ember-appuniversum/c-textarea";
@import "ember-appuniversum/c-toolbar";


// PLUGINS
@import "ember-appuniversum/p-ember-power-select";
@import "ember-appuniversum/p-duet-datepicker";


// UTILITIES
@import "appuniversum/u-align-text";
@import "appuniversum/u-headings";
@import "appuniversum/u-hide";
@import "appuniversum/u-font-family";
@import "appuniversum/u-font-weights";
@import "appuniversum/u-paragraphs";
@import "appuniversum/u-print";
@import "appuniversum/u-responsive-spacings";
@import "appuniversum/u-spacings";
@import "appuniversum/u-visible";
@import "appuniversum/u-widths";


// GENERAL ADDITION

code {
  background-color: #f3f5f6;
  font-family: monospace;
  padding: 2px 4px;
}

pre {
  background-color: #f3f5f6;
  font-family: monospace;
  padding: 20px 30px;
}

/* Heading numbers in documentation */
body {counter-reset: h2}
  h2 {counter-reset: h3}
  h3 {counter-reset: h4}
  h4 {counter-reset: h5}
  h5 {counter-reset: h6}


.docs {
  h2:before {counter-increment: h2; content: counter(h2) ". "}
  h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
  h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
  h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
  h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}

  h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before { content: ""; counter-increment: none }
}

ol {
  list-style: decimal;
}


// SPECIFIC ADDITION (HEADER PLACEHOLDER)

.l-external-header {
  //
}

.l-external-header__placeholder {
  width: 100%;
  height: 43px;
  background: #fff;

  // When the supported browsers support the :has selector (https://developer.mozilla.org/en-US/docs/Web/CSS/:has) we can also add a shadow to the placeholder (now, we'll get double shadows otherwise)
  // &:has(> .vlw) {
  //   box-shadow: 0 1px 3px rgb(12 13 14 / 10%), 0 4px 20px rgb(12 13 14 / 4%), 0 1px 1px rgb(12 13 14 / 3%);
  // }
}


// SPECIFIC ADDITION (PAGE LAYOUT)

.l-external-header + .au-c-main-container{
  @include mq(medium) {
    height: calc(100vh - 43px); // Adjust the negating height (of the header) because the external one differs one pixel
  }
}


// SPECIFIC ADDITION

.card-table-wrapper {
  width: 100%;
  border: 0.1rem solid #CCD1D9;
}

.card-table-wrapper td {
  padding: 1.2rem;
}

.card-table {
  width: 100%;
}

.card-table-cell {
  padding: 2.4rem;
}

.title {
  width: 25%;
  border-right: thin solid #A9A9A9;
}


// OVERRIDES

.au-c-intro {
  @include au-font-size($au-h4);
  font-weight: $au-light;
  color: $au-gray-800;
  max-width: 60ch;
}
