/* Divided card (previously "card table")
   ========================================================================== */

.l-divided-card {
  //
}

.l-divided-card__item {
  > .l-divided-card__item__liner {
    position: relative;
    height: 100%;
    padding: 0 $au-unit-small;

    @include mq(small) {
      padding: $au-unit-small 0;
    }
  }

  &:first-child {
    > .l-divided-card__item__liner {
      padding: $au-unit-small $au-unit-small 0 $au-unit-small;

      @include mq(small) {
        padding: $au-unit-small 0 $au-unit-small $au-unit-small;
      }
    }
  }

  &:last-child {
    > .l-divided-card__item__liner {
      padding: 0 $au-unit-small $au-unit-small $au-unit-small;

      @include mq(small) {
        padding: $au-unit-small $au-unit-small $au-unit-small 0;
      }
    }
  }

  &:not(:last-child) {
    > .l-divided-card__item__liner {
      &:after {
        position: absolute;
        bottom: -#{$au-unit};
        left: 0;
        width: 100%;

        border-bottom: .1rem solid $au-gray-300;

        content: '';

        @include mq(small) {
          top: 0;
          right: -#{$au-unit};
          bottom: auto;
          left: auto;
          width: 0;
          height: 100%;

          border-bottom: none;
          border-right: .1rem solid $au-gray-300;
        }
      }
    }
  }
}

.l-divided-card__item--small {
  min-width: 240px;
}
