<div id="global-header">
  <script src={{this.ENV.APP.header}}></script>
</div>
<main id="main" class="au-c-main-container">
  <div class="au-c-main-container__content au-c-main-container__content--scroll" id="content">
    <div>
      {{outlet}}
    </div>
    <div id="global-footer">
      <script src={{this.ENV.APP.footer}}></script>
    </div>
  </div>
</main>