<AuMainHeader
  @brandLink="https://www.vlaanderen.be/nl"
  @homeRoute="index"
  @appTitle="Themis &mdash; Ontdek gestructureerde informatie over de besluitvorming van de Vlaamse Regering.">
</AuMainHeader>


<main id="main" class="au-c-main-container">
  <div class="au-c-main-container__content au-c-main-container__content--scroll" id="content">
    <div>{{outlet}}</div>
    <AuMainFooter>
      <AuHeading @level="3" @skin="4">
       Themis
      </AuHeading>
      <AuContent @skin="small">
        <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/nl/contact/adressengids/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/departement-kanselarij-en-bestuur">Departement Kanselarij en Bestuur</a></p>
      </AuContent>
    </AuMainFooter>
  </div>
</main>