<div class="au-o-layout au-o-region">
  <AuHeading class="au-u-margin-top-huge">Themis</AuHeading>
  <AuHeading class="au-u-margin-top-small" @level="2" @skin="2">
    Ontdek gestructureerde informatie over de besluitvorming van de Vlaamse regering.
  </AuHeading>
  <AuHr @size="large" />
  <div class="au-o-region-small">
    <AuHeading @level="3" @skin="3">
      Dataset types
    </AuHeading>
    <p class="au-c-intro">Themis bevat de volgende dataset types:</p>
    <div class="au-o-grid">
      {{#each (sort-by "label" this.model.concepts)  as |datasetType|}}
        <div class="au-o-grid__item au-u-1-2">
          <AuCard as |c|>
            <c.header>
              <a href={{datasetType.uri}}>
                {{datasetType.label}}</a>
            </c.header>
            <c.content>
              {{datasetType.definition}}
            </c.content>
          </AuCard>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="au-o-region-small">
    <AuHeading @level="3" @skin="3">
      Ontdek de data
    </AuHeading>
    <div>
      Start hier om de historische data en ministers van de Vlaamse regering te bekijken:
    </div>
    <div>
      Bekijk alle legislaturen van de Vlaamse regering:
    </div>
    <LinkTo @route="view.government-body" @query={{hash
      resource="http://themis.vlaanderen.be/id/bestuursorgaan/7f2c82aa-75ac-40f8-a6c3-9fe539163025" }}>
      Bestuursorgaan Vlaamse Regering</LinkTo>
    <div>
      Bekijk de samenstelling van de huidge Vlaamse regering:
    </div>
  </div>
  <div class="au-o-region-small">
    <AuHeading @level="3" @skin="3">
      Query
    </AuHeading>
    Query zelf de data via het <LinkTo @route="sparql">SPARQL Endpoint</LinkTo>
  </div>
  <div class="au-o-region-small">
    <div>
      <AuHeading @level="3" @skin="3">
        Documentatie
      </AuHeading>
      Lees meer over de data ontsluiting en besluitvormingscatalogus in de
      <LinkTo @route="docs">Themis documentatie</LinkTo>

    </div>
  </div>
</div>