<div class="au-o-layout au-o-layout--large">
  <div class="au-o-region-large au-o-flow--small">
    <AuHeading @level="1" @skin="1">Themis SPARQL endpoint</AuHeading>
    <AuHr @size="large" />
    {{#if this.fastboot.isFastBoot}}
      <AuLoader @centered={{true}}>
        Aan het laden
      </AuLoader>
    {{else}}
      <p>Gebruik queries om informatie te doorzoeken die ontsloten werd rond de besluitvorming van de Vlaamse Regering.</p>
      <div {{yasgui}}></div>
      {{outlet}}
    {{/if}}
  </div>
</div>
